.add-icon{
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 32px;
    color: #3880ff;
    z-index: 1000;
}

.inventoryOne{
    background-color: #3880ff;
    height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: center;   
    align-items: center;
    margin: 0;
    padding: 0;
}

.title{
    text-align: center;
    color: white;
    font-weight: 500;
    padding: 16px;
    font-size: 32px;
    padding: 0;
    margin: 16px 0 0 0;
}

.subtitle{
    color: white;
    font-size: 16px;
    font-weight: 400;
    padding: 0;
    margin: 0;
}

.card-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
    padding: 16px;
}

.card-item {
    border-radius: 16px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    margin: 0;
}

.edit-button{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
